h1 {
  font-family: Assistant;
  font-weight: lighter;
  text-align: center;
  line-height: 2%;
  color: rgb(146, 84, 13);

}

.mainTitle {
  font-size: 40px;
  font-weight: bolder;
}

/* .dotted {
  border-style: dotted;
  border: 1px dotted #f00;
  color: #fff;
  height: 59px;
  width: 50%;
} */

strong,
text {
  font-family: Assistant;
  color: black;
  line-height: 300%;
  margin: auto;
}

.flex-container {
  min-height: 20%;
  justify-content: center;
  align-self: center;
  display: flex;
  margin: 2%;
}

.img1,.img2 {
  display: flex;
  max-height: 60%;
  max-width: 60%;
  justify-content: center;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: auto;
  margin: auto;

}

.column1,
.column2 {
  background-color: beige;
  border-radius: 15px;
  padding: 2%;
  /* width:50%; */
  border-style: dashed;
  border-width: 1px;
  margin: 2%;
  display: flexbox;
  border-color: brown;
}

label {
  color: black;
  display: block;
  font-weight: bold;
  font-family: Assistant;
}

input {
  margin-bottom: 5%;
}

body {
  background-color: rgb(209, 201, 186);
}

.div_button {
  align-self:center;
  align-items:bottom;
  justify-content: center;
  display:flex;
}

button {
  display:block;
  margin:auto;
}