h1 {
  text-align: center;
}


strong,
text {
  font-family: Assistant;
  color: black;
  line-height: 300%;
  margin: auto;
}

body {
  background-color: rgb(235, 233, 229);
}
/* 
.div_button {
  align-self: center;
  align-items: bottom;
  justify-content: center;
  display: flex;
} */

/* button {
  display: block;
  margin: auto;
} */